[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        invalid-name,
        logging-fstring-interpolation,
        unused-argument,
        import-outside-toplevel,
        broad-except,
        line-too-long,
        useless-super-delegation,
        import-error
