adafruit-ampy
autoflake
black
bump2version
cantools
circuitpython-stubs
circup
coloredlogs
coverage
invoke
ipython
mpremote
mypy
orjson
pre-commit
pylint
pytest
pytest-asyncio
pytest-cov
pytest-coverage
pytest-mock
python-can
ruff
